body {
  background: turquoise;
}

.secret {
  color:black;
  font-weight:bold;
  font-size:x-large;
  text-decoration:none;
}
p {
  color:blue;
  font-family:fantasy;
  text-align: left;
}
h2 {
  font-weight:lighter;
}
img {
  border:dotted;

    margin:10px;
  width: 150px;
}
#secretbutton {
  color: turquoise;
  text-decoration: none;
}
